@using System.Security.Cryptography.X509Certificates
@model TableViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h1>@ViewData["Title"]</h1>
<h2>User ID: @ViewData["userID"]</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Query Parameters</legend>
        <div>
            <input id="btnAddQuery" type="button"
                   onclick="addRow();" value="Add Query" />
        </div>
        <table class="table" aria-labelledby="tabelLabel">
            <thead>
                <tr>
                    <td>Key</td>
                    <td>op</td>
                    <td>Value</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="tbQueries">
            </tbody>
        </table>
        <p>
            <input type="submit" value="Query" />
        </p>
    </fieldset>
}
<input type="hidden" id="totalQueries" value="0" />

<script language="javascript" type="text/javascript">
    function addRow() {
        var tq = parseInt($("#totalQueries").val());
        tq = tq + 1;
        $("#totalQueries").val(tq);

        var indexCell = "<td style='display:none'><input name='dataList.Index' type='hidden' value='" + tq + "' /></td>";
        var keyCell = "<td><input id='Queries_" + tq + "__Title' name='dataList[" + tq + "].Key' type='text' value='' /></td>";
        var opCell = "<td><select id='Queries_" + tq + "_Title' name='dataList[" + tq + "].Op'>" +
            "<option value='eq'>=</option><option value='lt'><</option><option value='gt'>></option></select>";
        var valueCell = "<td><input id='Queries_" + tq + "__Title' name='dataList[" + tq + "].Value' type='text' value='' /></td>";
        var removeCell = "<td><input id='btnAddQuery' type='button' value='Remove' onclick='removeRow(" + tq + ");' /></td>";

        var newRow = "<tr id='trQuery" + tq + "'>" + 
            indexCell + keyCell + opCell + valueCell + removeCell + "</tr>";
        $("#tbQueries").append(newRow);
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trQuery" + id;
        $(controlToBeRemoved).remove();
    }
</script>

<table class="table table-striped" aria-labelledby="tabelLabel">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Date</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Additional Information</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.table)
            {
                if (data != null)
                {
                    string s = string.Join("; ", data.otherinfo.Select(x => x.Key + ": " + x.Value).ToArray());
                    <tr>
                        <td>@data.uid</td>
                        <td>@data.date</td>
                        <td>@data.latitude</td>
                        <td>@data.longitude</td>
                        <td>@s</td>
                    </tr>

                }
            }
        </tbody>
    </table>