@using System.Security.Cryptography.X509Certificates
@model TableViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="center-horizontally">
    <img src="https://i.imgur.com/D4ccGmN.png" style="width: 70%;">
</div>
<h2 class="center-horizontally">Welcome back @ViewData["userID"]!</h2>
<div class="query-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend class="center-horizontally">Query Parameters</legend>
            <div>
                <input id="btnAddQuery" type="button" class="btn-sm form-button"
                       onclick="addRow();" value="Add Query" />
            </div>
            <table class="table" aria-labelledby="tabelLabel">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>op</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbQueries">
                </tbody>
            </table>
            <p class="center-horizontally">
                <input class="btn form-button" type="submit" value="Query!" />
            </p>
        </fieldset>
    }
</div>

<input type="hidden" id="totalQueries" value="0" />

<script language="javascript" type="text/javascript">
    function addRow() {
        var tq = parseInt($("#totalQueries").val());
        tq = tq + 1;
        $("#totalQueries").val(tq);

        var indexCell = "<td style='display:none'><input name='dataList.Index' type='hidden' value='" + tq + "' /></td>";
        var keyCell = "<td><input id='Queries_" + tq + "__Title' name='dataList[" + tq + "].Key' type='text' value='' /></td>";
        var opCell = "<td><select id='Queries_" + tq + "_Title' name='dataList[" + tq + "].Op'>" +
            "<option value='eq'>=</option><option value='lt'><</option><option value='gt'>></option></select>";
        var valueCell = "<td><input id='Queries_" + tq + "__Title' name='dataList[" + tq + "].Value' type='text' value='' /></td>";
        var removeCell = "<td><input id='btnAddQuery' class='btn-sm form-button' type='button' value='Remove' onclick='removeRow(" + tq + ");' /></td>";

        var newRow = "<tr id='trQuery" + tq + "'>" +
            indexCell + keyCell + opCell + valueCell + removeCell + "</tr>";
        $("#tbQueries").append(newRow);
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trQuery" + id;
        $(controlToBeRemoved).remove();
    }
</script>

<div class="query-form">
    <table>
        <legend class="center-horizontally">Query Data</legend>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Date</th>
                <th>Location</th>
                <th>Additional Information</th>
            </tr>
        </thead>
    </table>
    <div class="js-pscroll">
        <table>
            <tbody>
                @foreach (var data in Model.table)
                {
                    if (data != null)
                    {
                        <tr>
                            <td>@data.uid</td>
                            <td>@data.date</td>
                            <td>(@data.latitude, @data.longitude)</td>
                            <td>
                                <ul>
                                    @foreach (KeyValuePair<string, string> pair in data.otherinfo)
                                    {
                                        <li><b>@pair.Key</b>: @pair.Value</li>
                                    }
                                </ul>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

